<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <table class="table table-bordered">
        <tbody>
          <tr class="text-center">
            <td><strong><%= post.titulo %></strong> </td>
            <td><strong>Catlover:</strong> <%= post.user_id %></td>
            <td><%= link_to "Ver historia", post %></td>
          </tr>
        </tbody>
      </table>
      <!-- Resto del contenido -->
    </div>
  </div>
</div>
